body {
    background-color: aqua;
    color: brown;
}
section{
    background: rgb(184, 156, 213);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto  {
    margin-right: 5%;
}

img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 1%;
}

